.rss-polling-feed-settings {
  table {
    tr {
      td {
        position: relative;

        &:first-child {
          width: 40%;
        }

        input {
          margin-bottom: 0;
          width: 95%;
        }
      }
    }
  }
}
